/* =========================
   🎮 ESTILO GERAL
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  background-color: #111111;
  color: #fff;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

/* =========================
   🔹 ANIMAÇÕES
========================= */
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes rainbow {
  0% { color: rgb(255, 0, 0); }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: violet; }
}

