/* =========================
   🧩 CONTAINER GERAL
========================= */
.container-geral {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 10px;
  width: 100%;
}

/* =========================
 ÁREA CENTRAL DO JOGO
========================= */
.container-jogo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-jogo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 500px;
  height: 500px;
  background: #111;
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
}

/* =========================
 BOTÃO CENTRAL
========================= */
.container-botao-central { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* =========================
 RODAPÉ
========================= */
.container-rodape {
  margin-top: 40px;
  text-align: center;
}